In \[1\]:

    #Name: sarthak Bante                                                                                               
    #Sec : A                                                                                                              
    #Roll no: 07
    #Sub : DSS

In \[2\]:

    #Aim : Salary Prediction using Linear Regression

In \[3\]:

    import pandas as pd

In \[4\]:

    from matplotlib import pyplot as plt

In \[5\]:

    import numpy as np
    import os

In \[6\]:

    os.getcwd()

Out\[6\]:

    'C:\\Users\\HP'

In \[7\]:

    os.chdir('C:\\Users\\HP\\Desktop')

In \[8\]:

    df=pd.read_csv("Salary.csv")

In \[9\]:

    df.head()

Out\[9\]:

|     | YearsExperience | Salary |
|-----|-----------------|--------|
| 0   | 1.1             | 39343  |
| 1   | 1.3             | 46205  |
| 2   | 1.5             | 37731  |
| 3   | 2.0             | 43525  |
| 4   | 2.2             | 39891  |

In \[10\]:

    df.tail()

Out\[10\]:

|     | YearsExperience | Salary |
|-----|-----------------|--------|
| 30  | 11.2            | 127345 |
| 31  | 11.5            | 126756 |
| 32  | 12.3            | 128765 |
| 33  | 12.9            | 135675 |
| 34  | 13.5            | 139465 |

In \[11\]:

    df.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 35 entries, 0 to 34
    Data columns (total 2 columns):
     #   Column           Non-Null Count  Dtype  
    ---  ------           --------------  -----  
     0   YearsExperience  35 non-null     float64
     1   Salary           35 non-null     int64  
    dtypes: float64(1), int64(1)
    memory usage: 688.0 bytes

In \[12\]:

    df.describe()

Out\[12\]:

|       | YearsExperience | Salary        |
|-------|-----------------|---------------|
| count | 35.000000       | 35.000000     |
| mean  | 6.308571        | 83945.600000  |
| std   | 3.618610        | 32162.673003  |
| min   | 1.100000        | 37731.000000  |
| 25%   | 3.450000        | 57019.000000  |
| 50%   | 5.300000        | 81363.000000  |
| 75%   | 9.250000        | 113223.500000 |
| max   | 13.500000       | 139465.000000 |

In \[13\]:

    df.describe()

Out\[13\]:

|       | YearsExperience | Salary        |
|-------|-----------------|---------------|
| count | 35.000000       | 35.000000     |
| mean  | 6.308571        | 83945.600000  |
| std   | 3.618610        | 32162.673003  |
| min   | 1.100000        | 37731.000000  |
| 25%   | 3.450000        | 57019.000000  |
| 50%   | 5.300000        | 81363.000000  |
| 75%   | 9.250000        | 113223.500000 |
| max   | 13.500000       | 139465.000000 |

In \[14\]:

    df.size

Out\[14\]:

    70

In \[15\]:

    df.ndim

Out\[15\]:

    2

In \[16\]:

    df.isnull().sum()

Out\[16\]:

    YearsExperience    0
    Salary             0
    dtype: int64

In \[17\]:

    df.head()

Out\[17\]:

|     | YearsExperience | Salary |
|-----|-----------------|--------|
| 0   | 1.1             | 39343  |
| 1   | 1.3             | 46205  |
| 2   | 1.5             | 37731  |
| 3   | 2.0             | 43525  |
| 4   | 2.2             | 39891  |

In \[18\]:

    df.columns

Out\[18\]:

    Index(['YearsExperience', 'Salary'], dtype='object')

In \[19\]:

    a=(1,2,3,4,5,6,7,8,9,10)

In \[20\]:

    a[0]

Out\[20\]:

    1

In \[21\]:

    a[-1]

Out\[21\]:

    10

In \[22\]:

    a[9]

Out\[22\]:

    10

In \[23\]:

    df.loc[4,'Salary']

Out\[23\]:

    39891

In \[24\]:

    df.loc[29]

Out\[24\]:

    YearsExperience        10.5
    Salary             121872.0
    Name: 29, dtype: float64

In \[25\]:

    df.head(30)

Out\[25\]:

|     | YearsExperience | Salary |
|-----|-----------------|--------|
| 0   | 1.1             | 39343  |
| 1   | 1.3             | 46205  |
| 2   | 1.5             | 37731  |
| 3   | 2.0             | 43525  |
| 4   | 2.2             | 39891  |
| 5   | 2.9             | 56642  |
| 6   | 3.0             | 60150  |
| 7   | 3.2             | 54445  |
| 8   | 3.2             | 64445  |
| 9   | 3.7             | 57189  |
| 10  | 3.9             | 63218  |
| 11  | 4.0             | 55794  |
| 12  | 4.0             | 56957  |
| 13  | 4.1             | 57081  |
| 14  | 4.5             | 61111  |
| 15  | 4.9             | 67938  |
| 16  | 5.1             | 66029  |
| 17  | 5.3             | 83088  |
| 18  | 5.9             | 81363  |
| 19  | 6.0             | 93940  |
| 20  | 6.8             | 91738  |
| 21  | 7.1             | 98273  |
| 22  | 7.9             | 101302 |
| 23  | 8.2             | 113812 |
| 24  | 8.7             | 109431 |
| 25  | 9.0             | 105582 |
| 26  | 9.5             | 116969 |
| 27  | 9.6             | 112635 |
| 28  | 10.3            | 122391 |
| 29  | 10.5            | 121872 |

In \[26\]:

    df.loc[4]

Out\[26\]:

    YearsExperience        2.2
    Salary             39891.0
    Name: 4, dtype: float64

In \[27\]:

    a=(1,2,3,4,5,6,7,8,9,10)

In \[28\]:

    a[1:4]

Out\[28\]:

    (2, 3, 4)

In \[29\]:

    df.iloc[1,2]

    ---------------------------------------------------------------------------
    IndexError                                Traceback (most recent call last)
    ~\AppData\Local\Temp\ipykernel_12040\2686059289.py in <module>
    ----> 1 df.iloc[1,2]

    ~\anaconda3\lib\site-packages\pandas\core\indexing.py in __getitem__(self, key)
        958             key = tuple(com.apply_if_callable(x, self.obj) for x in key)
        959             if self._is_scalar_access(key):
    --> 960                 return self.obj._get_value(*key, takeable=self._takeable)
        961             return self._getitem_tuple(key)
        962         else:

    ~\anaconda3\lib\site-packages\pandas\core\frame.py in _get_value(self, index, col, takeable)
       3610         """
       3611         if takeable:
    -> 3612             series = self._ixs(col, axis=1)
       3613             return series._values[index]
       3614 

    ~\anaconda3\lib\site-packages\pandas\core\frame.py in _ixs(self, i, axis)
       3437         # icol
       3438         else:
    -> 3439             label = self.columns[i]
       3440 
       3441             col_mgr = self._mgr.iget(i)

    ~\anaconda3\lib\site-packages\pandas\core\indexes\base.py in __getitem__(self, key)
       5051             # GH#44051 exclude bool, which would return a 2d ndarray
       5052             key = com.cast_scalar_indexer(key, warn_float=True)
    -> 5053             return getitem(key)
       5054 
       5055         if isinstance(key, slice):

    IndexError: index 2 is out of bounds for axis 0 with size 2

In \[30\]:

    df.head()

Out\[30\]:

|     | YearsExperience | Salary |
|-----|-----------------|--------|
| 0   | 1.1             | 39343  |
| 1   | 1.3             | 46205  |
| 2   | 1.5             | 37731  |
| 3   | 2.0             | 43525  |
| 4   | 2.2             | 39891  |

In \[31\]:

    df.loc[1,'Salary']

Out\[31\]:

    46205

In \[32\]:

    x=df.iloc[:,:-1].values

In \[33\]:

    y=df.iloc[:,-1].values

In \[34\]:

    print(x)

    [[ 1.1]
     [ 1.3]
     [ 1.5]
     [ 2. ]
     [ 2.2]
     [ 2.9]
     [ 3. ]
     [ 3.2]
     [ 3.2]
     [ 3.7]
     [ 3.9]
     [ 4. ]
     [ 4. ]
     [ 4.1]
     [ 4.5]
     [ 4.9]
     [ 5.1]
     [ 5.3]
     [ 5.9]
     [ 6. ]
     [ 6.8]
     [ 7.1]
     [ 7.9]
     [ 8.2]
     [ 8.7]
     [ 9. ]
     [ 9.5]
     [ 9.6]
     [10.3]
     [10.5]
     [11.2]
     [11.5]
     [12.3]
     [12.9]
     [13.5]]

In \[35\]:

    print(y)

    [ 39343  46205  37731  43525  39891  56642  60150  54445  64445  57189
      63218  55794  56957  57081  61111  67938  66029  83088  81363  93940
      91738  98273 101302 113812 109431 105582 116969 112635 122391 121872
     127345 126756 128765 135675 139465]

In \[36\]:

    a=(1,2,3,4,5,6,7,8,9,10)

In \[37\]:

    a[ :2]

Out\[37\]:

    (1, 2)

In \[38\]:

    a[2:]

Out\[38\]:

    (3, 4, 5, 6, 7, 8, 9, 10)

In \[39\]:

    a[1:6:2]

Out\[39\]:

    (2, 4, 6)

In \[40\]:

    a[1:6:1]

Out\[40\]:

    (2, 3, 4, 5, 6)

In \[41\]:

    print(x)

    [[ 1.1]
     [ 1.3]
     [ 1.5]
     [ 2. ]
     [ 2.2]
     [ 2.9]
     [ 3. ]
     [ 3.2]
     [ 3.2]
     [ 3.7]
     [ 3.9]
     [ 4. ]
     [ 4. ]
     [ 4.1]
     [ 4.5]
     [ 4.9]
     [ 5.1]
     [ 5.3]
     [ 5.9]
     [ 6. ]
     [ 6.8]
     [ 7.1]
     [ 7.9]
     [ 8.2]
     [ 8.7]
     [ 9. ]
     [ 9.5]
     [ 9.6]
     [10.3]
     [10.5]
     [11.2]
     [11.5]
     [12.3]
     [12.9]
     [13.5]]

In \[42\]:

    print(y)

    [ 39343  46205  37731  43525  39891  56642  60150  54445  64445  57189
      63218  55794  56957  57081  61111  67938  66029  83088  81363  93940
      91738  98273 101302 113812 109431 105582 116969 112635 122391 121872
     127345 126756 128765 135675 139465]

In \[ \]: